
@{
    ViewBag.Title = "Badges";
}

<h2>Badges</h2>
<ul class="badges">
    <li>
        <h4>Panda<img class="sponsor" src="~/Images/panda.png" /></h4>
        <div>

            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <div>
                <img class="sponsor" src="~/Images/Bruxelles-Mobilite-125.png" />
                <img class="sponsor" src="~/Images/cirbBrussels.jpg" />
                <img class="sponsor" src="~/Images/etterbeek.jpg" />
            </div>
        </div>
    </li>

    <li>
        <h4>Mississippi<img class="sponsor" src="~/Images/river.png" /></h4>
        <div>

            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <div>
                <img class="sponsor" src="~/Images/Keerbergen_logo.jpg" />
                <img class="sponsor" src="~/Images/wwf.png" />
            </div>
        </div>
    </li>

    <li>
        <h4>Azalea<img class="sponsor" src="~/Images/flower.png" /></h4>
        <div>

            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <div>
                <img class="sponsor" src="~/Images/MIVB_STIB_Logo.svg.png" />
                <img class="sponsor" src="~/Images/dewatergroep.PNG" />
            </div>
        </div>
    </li>

    <li>
        <h4>Olympia<img class="sponsor" src="~/Images/Mountain.png" /></h4>
        <div>

            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <div>
                <img class="sponsor" src="~/Images/Keerbergen_logo.jpg" />
                <img class="sponsor" src="~/Images/logo-horizon2020-600.jpg" />
            </div>
        </div>
    </li>

</ul>

